[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/shashikanth s (shashikanth12345)
[access "refs/for/refs/*"]
	read = group user/shashikanth s (shashikanth12345)
	push = group user/shashikanth s (shashikanth12345)
	label-Code-Review = -2..+2 group user/shashikanth s (shashikanth12345)
	label-Verified = -1..+1 group user/shashikanth s (shashikanth12345)
	rebase = group user/shashikanth s (shashikanth12345)
	removeReviewer = group user/shashikanth s (shashikanth12345)
	submit = group user/shashikanth s (shashikanth12345)
[access "refs/heads/*"]
	read = group user/shashikanth s (shashikanth12345)
	create = group user/shashikanth s (shashikanth12345)
	push = +force group user/shashikanth s (shashikanth12345)
	pushMerge = group user/shashikanth s (shashikanth12345)
[access "refs/tags/*"]
	push = group user/shashikanth s (shashikanth12345)
	push = +force group user/shashikanth s (shashikanth12345)
